<p>
  <strong>Cource:</strong>
  <%= @cource_tag.cource %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @cource_tag.tag %>
</p>

<%= link_to 'Edit', edit_admin_cource_tag_path(@cource_tag) %> |
<%= link_to 'Back', admin_cource_tags_path %>
