<a href="<%= @banner1.url %>" class="thumbnail" style="
padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 316px;
">
  <img src="<%= @banner1.image.url %>" style="height: 100%">
</a>