<h3 class="text-center"><%= t(:cource_vip) %></h3>
<% @courceVips.each_with_index do |cource, index| %>
  <!--<div class="thumbnail">-->
    <%= render 'shared/cource', :cource => cource, :type => 5 %>
  <!--</div>-->
<% end %>