
<a href="<%= @banner2.url %>" class="thumbnail" style="
padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 150px;
">
  <img src="<%= @banner2.image.url %>" style="height: 100%; width: 100%">
</a>
<br>
