<div class="row list" id="cource">
  <% @cources.each_with_index do |cource, index| %>
      <div class="col-sm-6 col-md-6">
        <%= render 'shared/cource', :cource => cource, :type => 3 %>
      </div>
  <% end %>
</div>