<!--LIST + VIP-->
<div class="row">
  <div class="col-lg-9">
    <%= render('details') %>
  </div>
  <div class="col-lg-3">
    <%= render('shared/vip') %>
  </div>
</div>

<!--KHÓA HỌC HAY CHO BẠN-->
<%= render('category_related') %>
<div class="spacer10"></div>
<!--KHÓA HỌC LIÊN QUAN KHÁC-->
<%= render('related') %>